<h1>Explore training data</h1>

In [25]:
import pandas as pd
import numpy as np
from IPython.display import display

monsters_info = pd.read_csv("../datasets/monsters_info2.csv")

print "There are %d rows in this dataframe" %len(monsters_info)

monsters_info.head()

There are 148 rows in this dataframe

   monster_id monster_name attributes  rarity breedable  price  lvl
0        1015      Sealion     [f, w]       2       Yes    360    3
1        1017    Thundenix     [t, f]       3       Yes    280    3
2        1018    Scorchpeg     [f, l]       4       Yes   1700    3
3        1019     Firetaur     [d, f]       3       Yes    560    3
4        1020        Djinn     [m, f]       3       Yes    120    3

In [26]:
users_info = pd.read_csv("../datasets/users_info.csv", dtype={'user_id': np.int64})

print "There are %d rows in this dataframe" %len(users_info)

users_info.head()

There are 99969 rows in this dataframe

,user_id,level,country,date_register,days_since_register_playing,sex,fb_link,register_platform,num_battles_spm,num_battles_spm_won,num_battles_pvp,num_battles_pvp_won,payer_category
0,5848327927,90,US,2013-09-28,1103,f,True,canvas,9871,8831,3423,3011,2
1,5332029736,25,US,2015-01-28,616,f,True,ios,3016,2251,607,261,0
2,5289669126,100,FR,2014-11-09,696,m,True,ios,5529,5380,2131,1709,0
3,5533814483,75,MX,2014-12-19,618,m,True,android,5214,4895,1220,1106,1
4,5273571747,32,PH,2014-01-10,915,f,True,ios,463,321,81,65,2

In [27]:
data = pd.read_csv("../datasets/event_users_train.csv")

print "There are %d rows in this dataframe" %len(data)

data.head()

There are 2268290 rows in this dataframe

      user_id  monster_id  count_monster
0  5287577520        2080              3
1  5289159737        1039             29
2  5318181007        2008              3
3  5414546335        2081              3
4  5413724326        2005              8

In [28]:
data.describe()

            user_id    monster_id  count_monster
count  2.268290e+06  2.268290e+06   2.268290e+06
mean   5.499524e+09  1.832621e+03   3.822632e+00
std    2.890100e+08  4.383383e+02   9.572808e+00
min    5.000018e+09  1.001000e+03   1.000000e+00
25%    5.248962e+09  2.002000e+03   1.000000e+00
50%    5.497722e+09  2.023000e+03   2.000000e+00
75%    5.751172e+09  2.083000e+03   4.000000e+00
max    5.999992e+09  2.284000e+03   2.327000e+03

In [29]:
data.loc[data['count_monster'] > 4, 'count_monster'] = 4

data.describe()

            user_id    monster_id  count_monster
count  2.268290e+06  2.268290e+06   2.268290e+06
mean   5.499524e+09  1.832621e+03   2.216288e+00
std    2.890100e+08  4.383383e+02   1.274134e+00
min    5.000018e+09  1.001000e+03   1.000000e+00
25%    5.248962e+09  2.002000e+03   1.000000e+00
50%    5.497722e+09  2.023000e+03   2.000000e+00
75%    5.751172e+09  2.083000e+03   4.000000e+00
max    5.999992e+09  2.284000e+03   4.000000e+00

In [30]:
data['rating'] = (data['count_monster'] * 10) / 4

data = data.drop('count_monster', 1)

data.head()

      user_id  monster_id  rating
0  5287577520        2080     7.5
1  5289159737        1039    10.0
2  5318181007        2008     7.5
3  5414546335        2081     7.5
4  5413724326        2005    10.0

In [12]:
# Top 20 most used monsters 
top_monsters = pd.value_counts(data.monster_id)
top_monsters.head(20)

1031    55853
1039    55780
1045    55718
2017    55412
2019    55263
1017    54897
2014    54782
1032    54659
2078    52209
2079    51910
1051    51728
2077    51547
1044    50965
1052    50731
2021    50055
2018    48225
2071    47553
2076    47454
2082    46831
2002    46374
Name: monster_id, dtype: int64

In [13]:
# Top players
top_players = pd.value_counts(data.user_id)
top_players.head(20)

5130286229    98
5423704912    96
5488275497    92
5180250280    90
5077112340    89
5506365315    88
5115779664    88
5873932162    86
5669524481    85
5781204424    85
5286058420    84
5105905666    84
5810651014    84
5978382476    84
5328182871    83
5490039066    83
5263091096    83
5842103018    83
5462137064    82
5091683209    82
Name: user_id, dtype: int64

<h3>Let's start with only 2 monsters</h3>

In [14]:
# Picking 2 monsters
monster_1 = 1031
monster_2 = 1039

# Getting all the reviewers for these books
monster_1_reviewers = data[data.monster_id == monster_1].user_id
monster_2_reviewers = data[data.monster_id == monster_2].user_id

In [15]:
# Check if there are any common reviewers
common_players = set(monster_1_reviewers).intersection(monster_2_reviewers)

print "%d people have owned these 2 monsters" % len(common_players)

# Checking the table with only the common players
list_common_players = []

for i in common_players:
    list_common_players.append(i)

common_players_only = data[data.user_id.isin(list_common_players)]

print "common_players_only have %d rows" % len(common_players_only)

common_players_only.head(10)

47003 people have owned these 2 monsters
common_players_only have 1678854 rows

       user_id  monster_id  rating
0   5287577520        2080     7.5
1   5289159737        1039    10.0
2   5318181007        2008     7.5
5   5594142020        1045    10.0
7   5265972640        1031    10.0
8   5045831166        1052    10.0
9   5274383644        2003     7.5
11  5289159737        1053    10.0
13  5320373242        2078    10.0
16  5890350222        1052    10.0

In [16]:
# Let's create a function that collect the monster preferences of our common players
def get_monsters_reviews(monster_id, common_players):
    mask = (data.user_id.isin(common_players)) & (data.monster_id==monster_id)
    reviews = data[mask].sort('user_id')
    reviews = reviews[reviews.user_id.duplicated()==False]
    return reviews

<h3>Calculating the correlation</h3>

In [24]:
# Importing the scipy library to measure the pearson correlation coefficient
from scipy.stats.stats import pearsonr
from sklearn.metrics.pairwise import manhattan_distances
from sklearn.metrics.pairwise import cosine_similarity

def calculate_correlation(monster1, monster2):
    # We start by finding the common players
    monster_1_players = data[data.monster_id == monster1].user_id
    monster_2_players = data[data.monster_id == monster2].user_id

    common_players = set(monster_1_players).intersection(monster_2_players)

    # Then we look for the reviews given by common reviewers
    monster_1_reviews = get_monsters_reviews(monster1, common_players)
    monster_2_reviews = get_monsters_reviews(monster2, common_players)
    
    # Calculate the Pearson Correlation Score
    # return pearsonr(monster_1_reviews.rating, monster_2_reviews.rating)[0]
    # return manhattan_distances(monster_1_reviews.rating, monster_2_reviews.rating)
    return cosine_similarity(monster_1_reviews.rating, monster_2_reviews.rating)

# Print the correlation score
calculate_correlation(monster_1,monster_2)[0][0]

/home/jcsastre/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/jcsastre/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/home/jcsastre/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

0.90002986183007994

<h3>Let's use the complete set of monsters</h3>

In [19]:
# As I want to avoid dealing with a huge sparse matrix, I will only select the top most reviewed books for our example 

most_used_monsters = pd.DataFrame({'count' : data.groupby(["Book"]).size()})\
                                    .reset_index().sort(['count'],ascending = False)

most_used_monsters.head(20)

KeyError: 'Book'

In [155]:
# calculate the correlation for our top books
correlation_coefficient = []

for monster1 in data:
    print "Calculating the correlations for:", monster1
    for monster2 in data:
        if monster1 != monster2:
            row = [monster1, monster2] + [calculate_correlation(monster1, monster2)]
            correlation_coefficient.append(row)

Calculating the correlations for: 1031

/home/jcsastre/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

Calculating the correlations for: 1039
Calculating the correlations for: 1045
Calculating the correlations for: 2017
Calculating the correlations for: 2019
Calculating the correlations for: 1017
Calculating the correlations for: 2014
Calculating the correlations for: 1032
Calculating the correlations for: 2078
Calculating the correlations for: 2079
Calculating the correlations for: 1051
Calculating the correlations for: 2077
Calculating the correlations for: 1044

In [132]:
# Let's look at what the table of correlation looks like
cols = ["Monster_1", "Monster_2", "Correlation"]
correlation_coefficient = pd.DataFrame(correlation_coefficient, columns=cols).sort('Correlation', ascending=False)
correlation_coefficient.head()

/home/jcsastre/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

     Monster_1  Monster_2  Correlation
11        1031       1044     0.539110
144       1044       1031     0.539110
127       1051       1032     0.494375
93        1032       1051     0.494375
106       2078       2077     0.310293

In [131]:
correlation_coefficient.describe()

         Monster_1    Monster_2  Correlation
count   156.000000   156.000000   156.000000
mean   1503.307692  1503.307692     0.177762
std     505.784458   505.784458     0.084954
min    1017.000000  1017.000000     0.041702
25%    1039.000000  1039.000000     0.113377
50%    1051.000000  1051.000000     0.169873
75%    2019.000000  2019.000000     0.221623
max    2079.000000  2079.000000     0.539110

<h1>Testing Data</h1>

In [141]:
test_data = pd.read_csv("../datasets/event_users_test.csv")

print "There are %d rows in this dataframe" %len(test_data)

test_data.head()

There are 944605 rows in this dataframe

         user_id  monster_id  count_monster
0 5000065336.000        2069              2
1 5000065336.000        2073              1
2 5000065336.000        1044              9
3 5000065336.000        2071              5
4 5000065336.000        1046              4